body {
    background: white;
    text-align: center;

     
}
input {
    background: rgb(255, 220, 253);
    width: 30vw;
    border: 1px solid #157efb;
    font-size: 20px;
    margin-top: 20px;
  }
  div{
    align-items:center;
    background: rgb(75, 141, 202);
    width: 40vw;
    border: 1px solid #070707;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto 
  }